$ff: "Helvetica", sans-serif;
$font2: "Roboto", sans-serif;

$color-text: #3d5170;
$color-label: #495057;
$color-grey-font: #5a6169;
$color-background: #f5f6f8;
$color-border: #becad6;
$color-bg-hover: #fbfbfb;
$color-icon-not-active: #cacedb;
$color-search-input: #767f9d;
$color-dropdown-placeholder: #868e96;
$color-button-confirm: #007bff;
$color-button-cancel: #e9ecef;
$color-button-delete: #cb3656;
$color-grey-middle-font: #868e96;
$color-grey-middle: #818ea3;
$color-notification-circle: #c4183c;
$color-dropdown-icon: #abb6bf;
$color-blue: #007bff;
$color-red: #c4183c;
$color-black: #121212;
$color-green: #0ec261;
$color-green-lite: #39b982;
$color-white: #ffffff;
$color-grey-light: #eeeeee;
$color-grey: #999999;

$media: screen;
$desktop-max: 1439px;
$desktop-min: 1024px;
$tablet-max: 1023px;
$tablet-min: 768px;
$mobile-max: 767px;
$mobile-min: 320px;
